<p>Bonjour,</p>
<p>
Voulliez-vous virez la somme de {{amount}}€ sur le compte au-dessous, s.v.p:
</p> 
<p>
BE93 0013 8465 2667 avec référence <b>Don 20 kms</b>
</p>
<p>
Merci!<br/>
Equipe de l'IRAHM
</p>
<hr/>
<p>Hello,</p>
<p>
Please transfer {{amount}}€ to the bank account below:
</p> 
<p>
BE93 0013 8465 2667 with reference <b>Don 20 kms</b>
</p>
<p>
Thank you!<br/>
The team of l'IRAHM
</p>
